body {
    margin: 0;
    padding: 0;
    width: 100vw; /* 相对于视口宽度的100% */
    height: 100vh; /* 相对于视口高度的100% */
    background-image: url("../Build/build.jpg");
    background-size: cover; /* 填充整个背景区域 */
    background-position: center; /* 居中显示背景图片 */
    background-repeat: no-repeat;
}
#loadingGif{
    width: 100vw; /* 相对于视口宽度的100% */
    height: 100vh; /* 相对于视口高度的100% */
    margin: 0;
    padding: 0;
    background-image: url("./Logo.png");
    background-size: contain; /* 填充整个背景区域 */
    background-position: center; /* 居中显示背景图片 */
    background-repeat: no-repeat;
}
#unity-container {
    position: absolute
}

body,
canvas,
div {
    display: block;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#unity-container.unity-desktop {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

#unity-container.unity-mobile {
    position: absolute;
    margin: 0;
    left: 0px;
    top: 0px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}



.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%
}

#unity-footer {
    position: relative
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}
#helpView{
    text-align: center;
    /*内部居中显示*/
    color: rgb(68, 68, 68);
    background-color: rgb(214, 137, 86);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    display:none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#helpFrame{
    width: 100%;
    height: 100%;
}
